<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="RepoXml" type="oing.webapp.android.sdkliteserver.model.RepoXml"/>
        <typeAlias alias="RepoXmlFile" type="oing.webapp.android.sdkliteserver.model.RepoXmlFile"/>
        <typeAlias alias="RepoZip" type="oing.webapp.android.sdkliteserver.model.RepoZip"/>
        <typeAlias alias="SdkArchive" type="oing.webapp.android.sdkliteserver.model.SdkArchive"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED">
                <property name="closeConnection" value="false"/>
            </transactionManager>
            <dataSource type="POOLED"/>
        </environment>
    </environments>
    <mappers>
        <mapper resource="oing/webapp/android/sdkliteserver/model/RepoXmlMapper.xml"/>
        <mapper resource="oing/webapp/android/sdkliteserver/model/RepoXmlFileMapper.xml"/>
        <mapper resource="oing/webapp/android/sdkliteserver/model/RepoZipMapper.xml"/>
        <mapper resource="oing/webapp/android/sdkliteserver/model/SdkArchiveMapper.xml"/>
    </mappers>
</configuration>