<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RepoZip">
    <resultMap id="resultMap_RepoZip_all" type="RepoZip">
        <id property="id" column="id"/>
        <result property="idRepoXml" column="id_repo_xml"/>
        <result property="name" column="name"/>
        <result property="dateCreate" column="date_create"/>
        <result property="dateLastModified" column="date_last_modified"/>
        <!-- properties only for some of queries -->
        <result property="repoXml_name" column="repo_xml_name"/>
    </resultMap>

    <sql id="RepoZip_columns_full">`id`, `id_repo_xml`, `name`, `date_create`, `date_last_modified`</sql>

    <select id="selectAll" resultMap="resultMap_RepoZip_all">
        SELECT
            repo_zip.id, repo_zip.id_repo_xml, repo_zip.name, repo_zip.date_create, repo_zip.date_last_modified,
            repo_xml.name as 'repo_xml_name'
        FROM repo_zip
        LEFT JOIN repo_xml
        ON repo_zip.id_repo_xml = repo_xml.id
    </select>

    <select id="selectByRepoXmlId" resultMap="resultMap_RepoZip_all">
        SELECT <include refid="RepoZip_columns_full"/> FROM repo_zip WHERE id_repo_xml=#{idRepoXml}
    </select>

    <insert id="insert" parameterType="RepoZip">
        INSERT INTO repo_zip(name, date_create, date_last_modified)
            VALUES (#{name}, #{dateCreate}, #{dateLastModified})
    </insert>

    <update id="updateClearDependencyFromRepoXml">
        UPDATE repo_zip SET id_repo_xml=NULL WHERE id_repo_xml=#{idRepoXml}
    </update>
</mapper>