<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RepoZip">
    <resultMap id="resultMap_RepoZip_all" type="RepoZip">
        <id property="id" column="id"/>
        <result property="idRepoXml" column="id_repo_xml"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="RepoZip_columns_full">`id`, `id_repo_xml`, `name`</sql>

    <select id="selectByRepoXmlId" resultMap="resultMap_RepoZip_all">
        SELECT <include refid="RepoZip_columns_full"/> FROM repo_zip WHERE id_repo_xml=#{idRepoXml}
    </select>

    <update id="updateClearDependencyFromRepoXml">
        UPDATE repo_zip SET id_repo_xml=NULL WHERE id_repo_xml=#{idRepoXml}
    </update>
</mapper>