<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RepoXml">
    <resultMap id="resultMap_RepoXml_all" type="RepoXml">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="dateCreation" column="date_creation" jdbcType="BIGINT"/>
        <result property="dateLastModified" column="date_last_modified"/>
    </resultMap>

    <sql id="RepoXml_columns_full">`id`, `name`, `date_creation`, `date_last_modified`</sql>

    <select id="selectAll" resultMap="resultMap_RepoXml_all">
		SELECT <include refid="RepoXml_columns_full"/> FROM repo_xml
	</select>

    <select id="selectById" resultMap="resultMap_RepoXml_all">
		SELECT <include refid="RepoXml_columns_full"/> FROM repo_xml WHERE id=#{id}
	</select>

    <select id="selectByName" resultMap="resultMap_RepoXml_all">
        SELECT <include refid="RepoXml_columns_full"/> FROM repo_xml WHERE `name`=#{name}
    </select>

    <select id="existsByName" resultType="boolean">
		SELECT COUNT(id) FROM repo_xml WHERE name=#{name}
	</select>

    <insert id="insert" parameterType="RepoXml">
		INSERT INTO repo_xml(name, date_creation, date_last_modified)
		  VALUES(#{name}, #{dateCreation}, #{dateLastModified})
	</insert>

    <update id="updateById" parameterType="RepoXml">
        UPDATE repo_xml
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="dateCreation != null">date_creation=#{dateCreation},</if>
            <if test="dateLastModified != null">date_last_modified=#{dateLastModified}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM repo_xml WHERE id=#{id}
    </delete>
</mapper>