<Configuration packages="oing.android.tools.apkrevtools" status="off">
    <Appenders>
        <RollingFile name="rollingFileAppender" fileName="logs/log.log" filePattern="logs/log-%d{yyyy-MM-dd}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{ABSOLUTE} %level{length=1}: %msg%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="rollingFileAppender_verbose" fileName="logs/log-verbose.log"
                     filePattern="logs/log-verbose-%d{yyyy-MM-dd}-%i.log" ignoreExceptions="false">
            <PatternLayout pattern="%d{DEFAULT} %c[%t] %level{length=1} %logger - %msg%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %c %level{length=1}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.mybatis.spring" level="off"></Logger>
        <Root level="debug">
            <AppenderRef ref="rollingFileAppender"/>
            <AppenderRef ref="rollingFileAppender_verbose"/>
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>